{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
<div class="para">
<h1>Class Name: {{ classname }}</h1>
<h2>Choose Attendance Mode</h2>

<button class="button" onclick="showToday()">Mark Attendance for Today</button>
<button class="button" onclick="showDate()">Mark Attendance for Specific Date</button>

<div id="today-form" style="display: none;">
  
<form method="POST" action="{{ url_for('markattendance', class_id=class_id, classname=classname) }}">
  <input type="hidden" name="class_id" value="{{ class_id }}">
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Roll</th>
      <th>Status</th>
    </tr>
    {% for student in students %}
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.roll_number }}</td>
      <td>
        <label>
          <input type="radio" name="status_{{ student.id }}" value="Present" required> Present
        </label>
        <label>
          <input type="radio" name="status_{{ student.id }}" value="Absent" required> Absent
        </label>
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Submit Attendance</button>
</form>
</div>

<div id="date-form" style="display: none;" >
  <form method="POST" action="{{ url_for('markattendance', class_id=class_id,classname=classname) }}">
  <input type="hidden" name="class_id" value="{{ class_id }}">
  <label>Select Date: <input type="date" name="date" required></label>
    <table border="1">
    <tr>
      <th>Name</th>
      <th>Roll</th>
      <th>Status</th>
    </tr>
    {% for student in students %}
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.roll_number }}</td>
      <td>
        <label>
          <input type="radio" name="status_{{ student.id }}" value="Present" required> Present
        </label>
        <label>
          <input type="radio" name="status_{{ student.id }}" value="Absent" required> Absent
        </label>
      </td>
    </tr>
    {% endfor %}
  </table>
  <button type="submit">Submit Attendance</button>
</form>
</div>
</div>
{% endblock %}