<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Attendance Management System for Teachers and Students">
    <meta name="author" content="Your Name">
    <meta property="og:title" content="Attendance App">
    <meta property="og:description" content="Simple attendance system for schools.">
    <meta property="og:type" content="website">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="icon" type="image" href='{{ url_for("static",filename="icon2.png") }}'>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="header">
        <ul>
            <li><a class="headl" href=index.html>Home</a></li>
            <li><a class="headl" href="">About Us</a></li>
            {% if 'username' in session %}
            <li><a class="headl" href="/dashboard">Dashboard</a></li>
            <li><a class="headl" href="/logout">Logout</a></li>
            {% else %}
            <li><a class="headl" href="/login">Login</a></li>
            {% endif %}
            
            </ul>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    
     {% block content %}{% endblock %}
    
</body>
</html>